.about-us {
    margin-bottom: .8em;
}

.about-us__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, .7fr));
    grid-template-rows: repeat(auto-fill, minmax(270px, 2fr));
    grid-auto-rows: 270px;
    grid-gap: 1em;
    align-items: center;
    margin: 3em 1em 10vh;
}

.about-us__img {
    width: 90%;
    margin: 0 auto;
    box-shadow: 9px 9px 10px 3px #acacac;
    border-radius: 6px;
}

.about-us__list p {
    padding: .5em;
}