.cart h1 {
    margin-bottom: 5vh;
}

.cart__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    padding-bottom: .5em;
    margin: 1em 0;
    border-bottom: 1px solid black;
    letter-spacing: .02em;
}

.cart__item-name {
    width: 63%;
}

.cart__item p, .cart__menu p, .cart__total-price {
    font-size: 1.2em;
}

.cart__quantity {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 16%;
    padding: .2em .4em;
}

.cart__quantity p {
    padding: .2em .4em;
}

.cart__price {
    width: 14%;
    text-align: center;
    padding: .2em .4em;
}

.cart__menu-remove {
    width: 7%;
    text-align: center;
}

.cart__list {
    font-family: 'Oswald', sans-serif;
    letter-spacing: .02em;
    word-spacing: .15em;
    font-weight: 300;
    min-height: 30vh;
}

.cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}

.cart__total-price {
    font-family: 'Oswald', sans-serif;
    margin: 3em 0;
    letter-spacing: .03em;
}

.cart__btn--section {
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 10vh;
}

.cart__btn {
    display: flex;
    align-content: center;
    justify-content: space-around;
    font-size: 1em;
    padding: .35em .45em;
    margin: 0 auto;
}

.cart__btn--large {
    width: 35%;
    font-size: 1.2em;
    padding: .5em .03em;
    text-decoration: none;
}

.cart__empty-cart-message {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10vh;
}

.cart__empty-cart-message p {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    letter-spacing: .3em;
    color: black;
}

.cart__empty-cart-message svg {
    margin: .5em 11em .5em 2em;
    color: black;
}