.checkout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, .8fr));
    grid-column-gap: 2em;
    grid-row-gap: 5em;
    margin-bottom: 10vh;
    justify-content: center;
}

.checkout h1 {
    text-align: center;
}

.checkout__summary {
    margin: 3em auto;
    width: 80%;
}

.checkout__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    padding-bottom: .5em;
    margin: 1em 0;
    border-bottom: 1px solid black;
    letter-spacing: .02em;
}

.checkout__item-name {
    width: 63%;
}

.checkout__item p, .checkout__menu p {
    font-size: 1.2em;
}

.checkout__quantity {
    width: 16%;
    padding: .2em .4em;
    text-align: center;;
}

.checkout__price {
    width: 14%;
    text-align: center;
    padding: .2em .4em;
}

.checkout__list {
    font-family: 'Oswald', sans-serif;
    letter-spacing: .02em;
    word-spacing: .15em;
    font-weight: 300;
    min-height: 30vh;
}

.checkout__item, .checkout__menu  {
    display: flex;
    justify-content: space-between;
}

.checkout__total-price {
    text-align: end;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    padding-right: .4em;
    letter-spacing: .03em;
}

.checkout__btn {
    display: flex;
    align-content: center;
    justify-content: space-around;
    font-size: 1em;
    padding: .35em .45em;
    margin: 0 auto;
}

.checkout__btn--large {
    width: 40%;
    font-size: 1.2em;
    padding: .5em .03em;
    text-decoration: none;
}

.checkout__btn--large a {
    font-size: 1em;
    color: black;
    text-decoration: none;
}

.checkout__form {
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    margin: 3em auto;
    padding: 2em;
    font-family: 'Oswald', sans-serif;
    border: 1px solid black;
}

.checkout__form label {
    font-size: 1.2em;
}

.checkout__form input {
    font-weight: 300;
    letter-spacing: .07em;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 1.5em;
}