.course-cart {
    background-size: cover;
    background-color: grey;
    background-blend-mode: screen;
    font-family: 'Dosis', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .9em;
    border-radius: 6px;
    box-shadow: 9px 9px 10px 3px #acacac;
}

.course-cart__name {
    font-family: 'Oswald', sans-serif;
    font-size: 1.7em;
    letter-spacing: .03em;
    text-shadow: 7px 7px 20px rgb(207, 205, 205);
}

.course-cart__level {
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: .07em;
    margin-top: .4em;
    text-shadow: 7px 7px 20px rgb(207, 205, 205);
}

.course-cart__duration, .course-cart__date, .course-cart__place, .course-cart__teacher {
    display: flex;
    padding: .1em;
    margin-bottom: .5em;
}

.course-cart__duration p, .course-cart__date p, .course-cart__place p, .course-cart__teacher p {
    display: inline-block;
    font-size: 1.1em;
    letter-spacing: .1em;
    margin-left: .5em;
    align-self: center;
    font-weight: bold;
    text-shadow: 7px 7px 20px rgb(207, 205, 205);
}

.course-cart__buy {
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.3em;
}

.course-cart__buy button {
    font-size: 1.2em;
    padding: .5em 1.5em; 
}

.course-cart__buy p {
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
}
