.main {
    letter-spacing: .15em;
    margin: 5vh auto 0 auto;
}

.main__header {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    margin-bottom: 3vh;
    letter-spacing: .08em;
}

.main__description {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    letter-spacing: .08em;
    font-weight: 300;
}

.main__tagline {
    background-image: url('../backgrounds/back_2.jpg');
    background-color: rgb(105, 105, 114);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__tagline p {
    font-family: 'Playfair Display', serif;
    font-size: 3.2em;
    line-height: 1.6em;
    margin: .5em 0;
    width: 60%;
    color: rgb(207, 205, 205);
    text-shadow: 7px 7px 20px black;
}

.main__tagline p:last-child {
    display: block;
    text-align: right;
    font-size: 1.5em;
}

.main__advantages {
    width: 95%;
    margin: 15vh auto;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(400px, 2fr));
    grid-gap: 4em;
}

.main__advantages--first, .main__advantages--second {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, .7fr));
    grid-gap: 4em;
    justify-content: center;
}

.main__advantages--first div, .main__advantages--second div {
    width: 100%;
    position: relative;
    text-align: center;
    padding: 2em;
}

.main__advantages i {
    margin: 8% 0;
    font-size: 5em;
}

.main__advantages svg {
    position: absolute;
    top: 5%;
    left: 40%;
}

.main__advantages .main__header, .main__advantages .main__description {
    padding: 0 2em;
}

.main__instructors {
    width: 80%;
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    margin: 8vh auto;
}

.main__instructors-list h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    letter-spacing: .15em;
    padding: .5em;
}

.main__instructors-list {
    margin: 7vh;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, .6fr));
    grid-auto-rows: minmax(320px, 700px);
    grid-gap: 5em;
    justify-content: center;
}

.main__instructor-item {
    background-color: rgb(105, 105, 114);
    box-shadow: 9px 9px 10px 3px #acacac;
    border-radius: 6px;
}

.main__instructor-item-container {
    display: grid;
    grid-template-columns: 35% 10% 55%;
    grid-template-rows: auto;
}

.main__instructor-img {
    width: 100%;
    grid-column: 1 / 3;
    grid-row: 1;
    filter: grayscale(100%);
    border-radius: 6px 0 0 0;
}

.main__instructor-name {
    grid-column: 2 / -1;
    grid-row: 1 / 1;
    z-index: 1;
    font-size: .5rem;
    color: rgb(207, 205, 205);
    text-shadow: 7px 7px 20px black;
}

.main__instructor-testimonial {
    font-family: 'Playfair Display', serif;
    font-size: 1.7em;
    line-height: 1.5em;
    letter-spacing: .05em;
    word-spacing: .15em;
    margin-top: 1em;
    padding: .5em;
}

.main__students {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    width: 80%;
    margin: 8vh auto;
}

.main__learn-more {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main__learn-more svg {
    margin: .5em 2em .5em 2em;
    color: black;
}

.main__learn-more p {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    letter-spacing: .3em;
    color: black;
}

.main__tagline--bottom {
    background-image: url('../backgrounds/back_7.jpg');
    background-color: grey;
    background-blend-mode: screen;
    min-height: 45vh;
    grid-column: 1 / -1;
    grid-row: 6 / 7;
    margin: 8vh auto 0;
}

.main__tagline--bottom p {
    color: black;
    text-shadow: 7px 7px 20px rgb(207, 205, 205);
}

@media (max-width: 1450px) {
    .main__instructor-testimonial {
        font-size: 1.8em;
    }
}

@media (max-width: 1360px) {
    .main__instructors-list {
        grid-auto-rows: minmax(320px, 650px); 
    }
}

@media (max-width: 1260px) {
    .main__instructor-testimonial {
        font-size: 1.8em;
    }
    .main__instructors-list {
        grid-auto-rows: minmax(320px, 630px); 
    }
}

@media (max-width: 1160px) {
    .main__instructor-testimonial {
        font-size: 1.9em;
    }
    .main__instructors-list {
        grid-auto-rows: minmax(320px, 600px); 
    }
}

@media (max-width: 800px) {
    .main__instructor-testimonial {
        font-size: 2em;
    }
    .main__instructors-list {
        grid-auto-rows: minmax(320px, 580px); 
    }
}

@media (max-width: 550px) {
    .main__instructor-testimonial {
        font-size: 2.2em;
    }
}

@media (max-width: 470px) {
    .main__instructor-testimonial {
        font-size: 2.3em;
    }
    .main__instructors-list {
        grid-auto-rows: minmax(320px, 540px); 
    }
}

@media (max-width: 360px) {
    .main__instructor-testimonial {
        font-size: 2.4em;
    }
    .main__instructors-list {
        grid-auto-rows: minmax(320px, 500px); 
    }
}

