.teachers {
    width: 80%;
    margin: 0 auto;
}

.teachers__cart {
    width: 90%;
    margin: 6vh auto;
    display: grid;
    grid-template-columns: 30% 3fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2vh 1vw;
    background-color: pink;
}

.teachers__img {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    box-shadow: 9px 9px 10px 3px #acacac;
}

.teachers__info {
    background-color: yellow;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.teachers__name {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    letter-spacing: .15em;
    padding: .5em;
    border-bottom: 5px solid black;
}

.teachers__desc {
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    line-height: 1.4em;
    padding: .6em;
    letter-spacing: .05em;
    background-color: green;
}

.teachers__courses {
    background-color: #acacac;
    border-radius: 7px;
    grid-column: span 3;
}

.teachers__courses h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    padding: .5em;
    letter-spacing: .15em;
}

.teachers__courses-list {
    list-style: none;
    font-family: 'Oswald', sans-serif;
}