.courses__intro {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    letter-spacing: .02em;
    word-spacing: .15em;
    font-weight: 300;
    padding: 0 .5em;
}

.courses__filters {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Dosis', sans-serif;
    min-height: 10vh;
    background-color: rgb(105, 105, 114);
    margin-top: 5vh;
    border-radius: 6px;
}

.courses__filters label {
    font-size: 1.5em;
    font-family: 'Dosis', sans-serif;
}

.courses__filters select {
    margin-left: 1em;
}

.courses__filters option {
    font-size: 1.2em;
    font-family: 'Dosis', sans-serif;
}

.courses__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, .6fr));
    grid-auto-rows: 500px;
    grid-gap: 5em;
    margin: 10vh 0;
    justify-content: center;
}

.course-cart {
    min-height: 50vh;
}