.teachers__list {
    margin: 10vh auto;
    list-style: none;
    /* background-color: red; */
    
}

.teachers-cart {
    width: 90%;
    margin: 0 auto;
    /* background-color: green; */
}

.teachers-cart__details {
    display: grid;
    margin: 10vh auto;
    /* background-color: pink; */
    grid-template-columns: repeat(auto-fit, minmax(400px, .7fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    grid-row-gap: 4em;
    grid-column-gap: 2em;
    justify-content: center;
    /* align-items: center; */
}

.teachers-cart__img {
    width: 70%;
    margin: 0 auto;
    box-shadow: 9px 9px 10px 3px #acacac;
    border-radius: 6px;
}

.teachers-cart__name {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    letter-spacing: .15em;
    padding: .5em 0;
    border-bottom: 5px solid black;
}

.teachers-cart__desc {
    font-family: 'Dosis', sans-serif;
    font-size: 2rem;
    line-height: 1.5em;
    padding: .6em;
    letter-spacing: .05em;
    /* background-color: green; */
}

.teachers-cart__courses h3 {
    background-color: rgb(105, 105, 114);
    border-radius: 7px;
    margin-bottom: 1.5em;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    padding: .5em;
    letter-spacing: .15em;
}

.teachers-cart__courses-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, .6fr));
    grid-auto-rows: 500px;
    grid-gap: 3em;
    justify-content: center;
}